#sectionProduto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.productTitle{
    width: 80%;
    margin-bottom: 10px;
}
h2{
    color: black;
    display: contents;
    font-weight: 700;
    font-size: 32px;
}
#produtoWrap{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.produtosWrap{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.produtoNome{
    color: black;
    font-size: 14px;
    font-weight: 500;
}
.produtoPreço{
    color: black;
    font-size: 14px;
    font-weight: 700;
    font-size: 16px;
}
a{
    color: #2A7AE4;
    text-decoration: none;
    font-weight: 700;
}
