$variavel :15px;

.tituloContato{
    font-weight: 700;
    font-size: 16px;
    font-family: Raleway;
}
.formFooter{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.inputButton{
    width: 30%;
    border: none;
    background-color: #2A7AE4;
    height: 51px;
    color: white;
    width: 140px;
}
.inputButton:hover{
    cursor: pointer;
}
.inputFooter{
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 1px #c8c8c8;
}
.inputFooter:nth-of-type(1){
    height: 56px;
    margin: 5px 0 10px;
}
.inputFooter:nth-of-type(2){
    height: 82px;
    margin: 5px 0 10px;
}