section{
    font-family: 'Raleway';
    height: 352px;
    color: white;
    display: flex;
}
#heroWrapper{
    align-self: flex-end;
    margin-left: 120px;
}
h1{
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    margin: 0;
    padding: 0;
}
p{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 18px;
}
#verConsoles{
    background-color: #2A7AE4;
    width: 130px;
    height: 30px;
    padding: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 15px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}